.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 3rem;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.header h1 {
  display: flex;
  justify-content: center;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: space-between;
  padding: 3rem;
  min-height: 100vh;
  width: 150vh;
}

.footer {
  align-items: center;
  background-color: #272643;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  padding: 24px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    text-align: center;
  }
  .main {
    height: auto;
    width: auto;
    padding: 1rem;
  }
  .footer {
    gap: 8px;
  }
}