.about-me {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  justify-content: center;
  margin-bottom: 5vh;
}

.description {
  align-items: inherit;
  display: inherit;
  font-family: var(--font-mono);
  justify-content: inherit;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.description p {
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  margin: 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .description {
    text-align: justify;
  }
}
