.section-title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 24px;
    line-height: 36px;
    text-align: start;
  }
}
