.infos {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 5vh;
  max-width: 500px;
  width: 100%;
}

.languages-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

span {
  color: var(--text-secondary);
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  .infos {
    align-items: center;
    width: auto;
  }

  .languages-info {
    align-items: start;
    gap: 12px;
    width: 100%;
  }

  span {
    font-size: 20px;
    line-height: 36px;
    text-align: start;
  }
}
